---
layout: layout.liquid
title: 11ty Boilerplate
---
</div><body class="bg-gray-100 text-black"> 
    <div class="container mx-auto py-8 text-center"> 
        <div class="text-sm mb-4 font-bold"> 
            <span class="oval">Discover</span>
            <span class="ml-4">Animation</span>
            <span class="ml-4">Branding</span>
            <span class="ml-4">Illustration</span>
            <span class="ml-4">Mobile</span>
            <span class="ml-4">Print</span>
            <span class="ml-4">Product Design</span>
            <span class="ml-4">Typography</span>
            <span class="ml-4">Web Design</span>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8">
     
            <div class="bg-white rounded-lg shadow-lg flex flex-col">
                <div class="w-full h-48 bg-gray-300 rounded-t-lg"></div>
                <div class="p-1">
                  <div class= "flex justify-start">
                   <h2 class="text-base font-semibold mb-2 mt-1">Seige Media</h2>
                  </div>
                    <div class="flex justify-end -pt-5 -mt-8">
                        <div>
                            <button class="bg-gray-300 hover:bg-gray-300 hover text-white px-4 py-2 rounded-full">Like</button>
                            <span class="text-gray-600 ml-2">193 Likes</span>
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="bg-white rounded-lg shadow-lg flex flex-col">
                <div class="w-full h-48 bg-gray-300 rounded-t-lg"></div>
                <div class="p-1">
                  <div class= "flex justify-start">
                   <h2 class="text-base font-semibold mb-2 mt-1">Orman Clark</h2>
                  </div>
                    <div class="flex justify-end -pt-5 -mt-8">
                        <div>
                            <button class="bg-gray-300 hover hover:bg-gray-300 hover text-white px-4 py-2 rounded-full">Like</button>
                            <span class="text-gray-600 ml-2">99 Likes</span>
                        </div>
                    </div>
                </div>
            </div>
      
            <div class="bg-white rounded-lg shadow-lg flex flex-col">
                <div class="w-full h-48 bg-gray-300 rounded-t-lg"></div>
                <div class="p-1">
                  <div class= "flex justify-start">
                   <h2 class="text-base font-semibold mb-2 mt-1">Jordon Cheung</h2>
                  </div>
                    <div class="flex justify-end -pt-5 -mt-8">
                        <div>
                            <button class="bg-gray-300 hover hover:bg-gray-300 hover text-white px-4 py-2 rounded-full">Like</button>
                            <span class="text-gray-600 ml-2">176 Likes</span>
                        </div>
                    </div>
                </div>
            </div>
      
            <div class="bg-white rounded-lg shadow-lg flex flex-col">
                <div class="w-full h-48 bg-gray-300 rounded-t-lg"></div>
                <div class="p-1">
                  <div class= "flex justify-start">
                   <h2 class="text-base font-semibold mb-2 mt-1">Aldo Crusher</h2>
                  </div>
                    <div class="flex justify-end -pt-5 -mt-8">
                        <div>
                            <button class="bg-gray-300 hover hover:bg-gray-300 hover text-white px-4 py-2 rounded-full">Like</button>
                            <span class="text-gray-600 ml-2">65 Likes</span>
                        </div>
                    </div>
                </div>
            </div>
          
            
            <div class="bg-white rounded-lg shadow-lg flex flex-col">
                <div class="w-full h-full bg-gray-300 rounded-t-lg"></div>
                <div class="p-1">
                  <div class= "flex justify-start">
                   <h2 class="text-base font-semibold mb-2 mt-1">Canto</h2>
                  </div>
                    <div class="flex justify-end -pt-5 -mt-8">
                        <div>
                            <button class="text-gray-600 ml-2">Hide ads *</button>
                            <span class="text-gray-600 ml-2">Avertise</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="bg-white rounded-lg shadow-lg flex flex-col">
                <div class="w-full h-48 bg-gray-300 rounded-t-lg"></div>
                <div class="p-1">
                  <div class= "flex justify-start">
                   <h2 class="text-base font-semibold mb-2 mt-1">Ramy Wafaa</h2>
                  </div>
                    <div class="flex justify-end -pt-5 -mt-8">
                        <div>
                            <button class="bg-gray-300 hover hover:bg-gray-300  text-white px-4 py-2 rounded-full">Like</button>
                            <span class="text-gray-600 ml-2">513 Likes</span>
                        </div>
                    </div>
                </div>
            </div>